body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Ubuntu', sans-serif;
}

header,
main,
footer {
    margin: 1.25em auto;
    max-width: 1060px;
}

header,
footer {
    padding: 1em;
    text-align: center;
    background: rgb(0, 139, 86);
    color:beige;
}

@media only screen and (min-width: 32.5em) {

    header,
    footer {
        border-radius: 5px;
    }
}

h1,
h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.5em;
    color: grey;
    text-align: left;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

a,
a:visited {
    color: blue;
}

table {
    font-family: 'Ubuntu', sans-serif;
    margin: 1em auto;
    width: 80%;
}

table, table caption {
    box-shadow: 6px 8px 13px 1px rgba(98,140,166,0.9);
}

@media only screen and (min-width: 37.5em) {
    table {
        width: 40%;
    }
}

th,
td {
    text-align: center;
}

table,
th,
td {
    border: 2px solid #bbb;
    border-collapse: collapse;
}

table caption {
    color: black;
    background-color: #7fb9c2;
    font-size: 2em;
    font-weight: bold;
    padding: 0.2em 0.5em;
}

thead tr {
    color: white;
    background-color: #628ca6;
    font-size: 1.5em;
}

thead th {
    padding: 0.2em 0.4em;
}

tbody tr {
    background-color: #e7ffed;
}

tbody tr:nth-child(odd) {
    background-color: #e7f0ed;
}

tbody tr:nth-child(5) td:first-child {
    font-style: italic;
}

.failedtarget {
    color: white;
    background-color: #628ca6;
    font-size: 24px;
}

tbody td,
tfoot td {
    padding: 0.4em 0.2em;
}

tbody td {
    font-size: 1.2em;
}

tfoot td {
    font-size: 0.9em;
    background-color: #7fb9c2;
}

/* Footer */

footer p {
    line-height: 1;
}

footer a,
footer a:visited {
    color: #fff;
    font-size: 16px;
}

/* Other */

.highlighted {
    color: yellow;
}

.returnlink {
    text-align: center;
}

h2.menuarea {
    text-align: center;
    border-bottom: 1px solid #efefef;
}