@media only screen and (min-width: 35em){

    header img{
        float: left;
        width: 200px;
        height: auto;
        
    }


    nav ul{margin-left: 2%;}

    nav ul li{
        float: left;
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        border: none;
        border-right: 1px solid rgba(0,0,0,0.3);
        padding: .8rem 1rem;
    
    }

nav button{display: none;}

nav ul.hide{display: block;}

.box2{display:grid;}


.weather{
   
    width: 100%;
    height: auto;
    
}

