@charset "utf-8";

h1, h2, h3 { font-family: 'Source Sans Pro', sans-serif; }

h1{
    font-size: 2rem;
    margin: 0.15rem;
}

h2{
    font-size: 1.5rem;
    border-bottom: 1px solid;
    margin-bottom: 0.5rem;
}

main h2 {
    text-align:center;
}
main h3{
    text-align:center;
}
main div{
    margin: 3%;
}
img{
    text-align:center;
}

header, footer{
    background-color: #1d8309;
    color: #ffffff;
    text-align: center;
    margin: 50px;
    padding: 10px;
   /* border-radius: 10px*/
}


#Fri{
    color: #000000;
    height:auto;
    background-color: yellow;
}

nav ul li a{
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    color: rgba(21, 22, 22, 0.8);
    border-top: 1px solid rgba(0,0,0,0.3);

}

nav ul li a:hover{
    color:#1d8309;
    text-decoration: underline;
}



nav ul li.active a{
    color: #000002;
    font-weight: bold;
}


nav ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.hide{
    display: none;
}

nav button{
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #000000;
}



footer a:visited{
    color: #ffffff;
}


header img {
width: 200px;
height: auto;
}

img {
    width:100%;
    height: auto;
}

.town2{
    width:100%;
    height:auto;
}

.map{display: none;}


.herostats{
    margin 10px auto;
    position: relative;
}

/*.hero{
    margin:10px auto;
    width: 960px;
    height: 300px;
}*/

.box2{display:none;}



.stats {
	position: absolute;
	top: 25px;
	left: 25px;
	background: radial-gradient(#eee, #328a09);

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}


